<div class="e307bc9e">
  <ul class="c83e41c1">
    <li class="b5af8d26">
      <a style="padding: 0px" title="टॉप न्यूज़" href="/"
        ><picture class="c62bd949" style="visibility: visible"
          ><source
            media="(max-width: 768px)"
            type="image/webp"
            srcset="
              https://www.bhaskar.com/assets/images/top-news.a4108012.svg
            " />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              https://www.bhaskar.com/assets/images/top-news.a4108012.svg
            " />
          <img
            width="128"
            height="128"
            src="https://www.bhaskar.com/assets/images/top-news.a4108012.svg"
            alt="टॉप न्यूज़|Top News"
            loading="lazy"
            style="width: 32px; height: 32px; margin: 0px 12px"
            class="f97587ba" /></picture
        ><span>टॉप न्यूज़</span></a
      >
    </li>
    <li class="">
      <a style="padding: 0px" title="रिजल्ट्स" href="/"
        ><picture class="c62bd949" style="visibility: visible"
          ><source
            media="(max-width: 768px)"
            type="image/webp"
            srcset="
              https://images.bhaskarassets.com/webp/thumb/128x0/web2images/521/2022/05/24/mera-shehar-new-1_1653383167.png
            " />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              https://images.bhaskarassets.com/webp/thumb/128x0/web2images/521/2022/05/24/mera-shehar-new-1_1653383167.png
            " />
          <img
            width="128"
            height="128"
            src="https://images.bhaskarassets.com/web2images/521/2022/05/24/mera-shehar-new-1_1653383167.png"
            alt="रिजल्ट्स"
            loading="lazy"
            style="width: 32px; height: 32px; margin: 0px 12px"
            class="f97587ba" /></picture
        ><span>रिजल्ट्स</span></a
      >
    </li>
    <li class="">
      <a style="padding: 0px" title="एडमिट कार्ड्स" href="/"
        ><picture class="c62bd949" style="visibility: visible"
          ><source
            media="(max-width: 768px)"
            type="image/webp"
            srcset="
              https://images.bhaskarassets.com/webp/thumb/128x0/web2images/521/2024/12/18/maha-kumbh_1734518672.png
            " />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              https://images.bhaskarassets.com/webp/thumb/128x0/web2images/521/2024/12/18/maha-kumbh_1734518672.png
            " />
          <img
            width="128"
            height="128"
            src="https://images.bhaskarassets.com/web2images/521/2024/12/18/maha-kumbh_1734518672.png"
            alt="एडमिट कार्ड्स"
            loading="lazy"
            style="width: 32px; height: 32px; margin: 0px 12px"
            class="f97587ba" /></picture
        ><span>एडमिट कार्ड्स</span></a
      >
    </li>
  </ul>
  <span style="font-size: 0"></span>
</div>