<div class="c5559666 db9a2680">
  <div class="e5cbcf53">

    <h1 class="e3434886">
      <a title="Vacancy Updates Hindi News" href="/">
        <div
          style="
            display: inline-block;
            align-items: center;
            justify-content: center;
          "
          class="a6da76a6"
        >
          S.K.
        </div>
      </a>
    </h1>

    <ul class="fa12a686">
      <li class="e52e0c45 fdf45ee3">
        <a title="होम" class="c2915b93" href="/"
          ><div
            style="
              display: inline-block;
              align-items: center;
              justify-content: center;
            "
            class="ed2962b8"
          >
            <svg
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M20.084 20.999H14.7C14.203 20.999 13.8 20.596 13.8 20.099V16.237C13.8 15.834 13.47 15.504 13.067 15.504H10.92C10.522 15.504 10.2 15.826 10.2 16.224V20.083C10.2 20.587 9.788 20.999 9.284 20.999H3.9C3.405 20.999 3 20.594 3 20.099V11.48C3 11.126 3.148 10.789 3.409 10.55L11.398 3.234C11.739 2.922 12.261 2.922 12.602 3.234L20.591 10.55C20.852 10.789 21 11.126 21 11.48V20.084C21 20.587 20.588 20.999 20.084 20.999Z"
                fill="var(--foreground-color)"
              ></path>
            </svg>
          </div>
          <span>होम</span></a
        >
      </li>

      <li class="e52e0c45 false">
        <a title="सर्च" class="c2915b93" href="/search"
          ><div
            style="
              display: inline-block;
              align-items: center;
              justify-content: center;
            "
            class="ed2962b8"
          >
            <svg
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.0668 3.5C9.87467 3.5 7.6825 4.3365 6.0095 6.0095C2.6635 9.3555 2.6635 14.7793 6.0095 18.1253C7.6825 19.7983 9.87467 20.6348 12.0668 20.6348C13.8915 20.6348 15.7115 20.0468 17.2375 18.8883L22.5097 24.1605C22.7372 24.388 23.0358 24.5023 23.3345 24.5023C23.6332 24.5023 23.9318 24.388 24.1593 24.1605L24.1605 24.1593C24.6155 23.7043 24.6155 22.9658 24.1605 22.5108L18.8883 17.2387C21.4398 13.881 21.1913 9.0755 18.1265 6.01067C16.4523 4.3365 14.259 3.5 12.0668 3.5ZM12.0668 18.3003C10.402 18.3003 8.83633 17.6517 7.65917 16.4745C5.229 14.0443 5.229 10.0893 7.65917 7.65917C8.83633 6.482 10.402 5.83333 12.0668 5.83333C13.7317 5.83333 15.2973 6.482 16.4745 7.65917C18.9047 10.0893 18.9047 14.0443 16.4745 16.4745C15.2973 17.6517 13.7317 18.3003 12.0668 18.3003Z"
                fill="var(--foreground-color)"
              ></path>
            </svg>
          </div>
          <span>सर्च</span></a
        >
      </li>

      <li class="e52e0c45">
        <a
          title="ई-पेपर"
          href="/newspapers"
          target="_blank"
          rel="noopener noreferrer"
          class="c2915b93"
          ><div
            style="
              display: inline-block;
              align-items: center;
              justify-content: center;
            "
            class="ed2962b8"
          >
            <svg
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M23.107 24.493C23.1817 24.4977 23.2575 24.5 23.3334 24.5C25.263 24.5 26.8334 22.9308 26.8334 21V10.9608C26.8334 9.03117 25.263 7.46083 23.3334 7.46083H22.1259V7C22.1259 5.07033 20.5555 3.5 18.6259 3.5H4.66669C2.73702 3.5 1.16669 5.07033 1.16669 7V21C1.16669 22.9297 2.73702 24.5 4.66669 24.5H22.9764C23.0207 24.5 23.065 24.4977 23.107 24.493ZM22.1259 20.9592V9.793H23.3334C23.9774 9.793 24.5 10.3168 24.5 10.9597V21C24.5 21.644 23.9774 22.1667 23.3334 22.1667C22.6684 22.1667 22.1259 21.6242 22.1259 20.9592ZM3.50002 7C3.50002 6.356 4.02269 5.83333 4.66669 5.83333H18.6247C19.2687 5.83333 19.7914 6.35717 19.7914 7V20.9592C19.7914 21.3827 19.8672 21.7898 20.0037 22.1667H4.66669C4.02269 22.1667 3.50002 21.644 3.50002 21V7ZM6.42374 9.95512H16.8456C17.4826 9.95512 17.9971 9.43245 17.9971 8.78845C17.9971 8.14445 17.4826 7.62179 16.8456 7.62179H6.42374C5.78674 7.62179 5.27224 8.14445 5.27224 8.78845C5.27224 9.43245 5.78674 9.95512 6.42374 9.95512ZM16.8459 16.9668H14.6012C13.9642 16.9668 13.4497 16.4453 13.4497 15.8001C13.4497 15.155 13.9642 14.6335 14.6012 14.6335H16.8459C17.4829 14.6335 17.9974 15.155 17.9974 15.8001C17.9974 16.4453 17.4829 16.9668 16.8459 16.9668ZM14.6012 13.5531H16.8459C17.4829 13.5531 17.9974 13.0304 17.9974 12.3864C17.9974 11.7424 17.4829 11.2198 16.8459 11.2198H14.6012C13.9642 11.2198 13.4497 11.7424 13.4497 12.3864C13.4497 13.0304 13.9642 13.5531 14.6012 13.5531ZM16.8459 20.3782H14.6012C13.9642 20.3782 13.4497 19.8567 13.4497 19.2115C13.4497 18.5664 13.9642 18.0449 14.6012 18.0449H16.8459C17.4829 18.0449 17.9974 18.5664 17.9974 19.2115C17.9974 19.8567 17.4829 20.3782 16.8459 20.3782ZM6.42374 11.2198H10.9142C11.5512 11.2198 12.0657 11.7424 12.0657 12.3864V19.2103C12.0657 19.8554 11.5512 20.3769 10.9142 20.3769H6.42374C5.78674 20.3769 5.27224 19.8554 5.27224 19.2103V12.3864C5.27224 11.7424 5.78674 11.2198 6.42374 11.2198Z"
                fill="var(--foreground-color)"
              ></path>
            </svg>
          </div>
          <span>ई-पेपर</span></a
        >
      </li>
      <li class="e52e0c45">
        <div class="ac1237e6">
          <div
            style="
              display: inline-block;
              align-items: center;
              justify-content: center;
            "
            class="ed2962b8"
          >
            <svg
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M14.0141 2.33203H14.2008C20.6408 2.43703 25.7625 7.74536 25.6691 14.197C25.6108 17.3704 24.2808 20.252 22.1691 22.317C21.9475 22.5504 21.7025 22.7604 21.4575 22.9704C20.8275 23.507 20.1275 23.9737 19.3808 24.347C17.7708 25.1987 15.9508 25.6654 14.0025 25.6654C12.0658 25.6654 10.2575 25.1987 8.65915 24.3704V24.3587C7.87748 23.9737 7.14248 23.472 6.47748 22.912C6.25581 22.7254 6.04581 22.5387 5.83581 22.3287C3.61915 20.182 2.27748 17.1487 2.33581 13.8004C2.42915 7.4187 7.64415 2.33203 14.0141 2.33203ZM8.23915 21.3254C9.86081 22.632 11.8908 23.332 14.0025 23.332C16.1375 23.332 18.1208 22.6437 19.7541 21.337C19.5441 20.4737 18.7508 19.832 17.8175 19.832H10.1758C9.25415 19.832 8.47248 20.4737 8.23915 21.3254ZM10.1758 17.4987H17.8175C19.3691 17.4987 20.7341 18.3154 21.4925 19.5404C22.6475 17.9887 23.2891 16.1104 23.3358 14.1504C23.3708 11.6537 22.4375 9.29703 20.7108 7.50036C18.9725 5.71536 16.6508 4.70036 14.1541 4.66536H14.0141C8.93915 4.66536 4.73915 8.7837 4.66915 13.8354C4.63415 15.9354 5.28748 17.9187 6.48915 19.552C7.25915 18.3154 8.62415 17.4987 10.1758 17.4987ZM9.35563 11.6665C9.35563 9.12084 11.4766 6.99984 14.0223 6.99984C16.6158 6.99984 18.689 9.12084 18.689 11.6665C18.689 14.2122 16.568 16.3332 14.0223 16.3332C11.43 16.3332 9.35563 14.2122 9.35563 11.6665ZM11.689 11.6665C11.689 12.9533 12.7355 13.9998 14.0223 13.9998C15.287 13.9998 16.3556 12.9312 16.3556 11.6665C16.3556 10.3797 15.3091 9.33317 14.0223 9.33317C12.7576 9.33317 11.689 10.4018 11.689 11.6665Z"
                fill="var(--primary-color)"
              ></path>
            </svg>
          </div>
          <div
            style="
              display: inline-block;
              align-items: center;
              justify-content: center;
            "
            class="d0224ce8"
          >
            <svg
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5 7.97832C5 7.76498 5.08167 7.55165 5.24417 7.38915C5.57 7.06332 6.09667 7.06332 6.4225 7.38915L9.99917 10.9667L13.5775 7.38915C13.9033 7.06332 14.4308 7.06332 14.7558 7.38915C15.0817 7.71498 15.0817 8.24165 14.7558 8.56748L10.795 12.5275C10.3558 12.965 9.6425 12.965 9.20417 12.5283L5.24417 8.56748C5.08167 8.40498 5 8.19165 5 7.97832Z"
                fill="var(--primary-color)"
              ></path>
            </svg>
          </div>
        </div>
      </li>
    </ul>
    <h1 style="color: red; text-transform: uppercase">Free</h1>
    <div class="dbddf40b">
      <a
        class="d6f03855"
        href="/newspapers"
        rel="noopener noreferrer"
        style="margin-right: 20px"
        ><div
          title="Epapers"
          style="
            display: inline-block;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
          "
        >
          <svg
            viewBox="0 0 28 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M23.107 24.493C23.1817 24.4977 23.2575 24.5 23.3334 24.5C25.263 24.5 26.8334 22.9308 26.8334 21V10.9608C26.8334 9.03117 25.263 7.46083 23.3334 7.46083H22.1259V7C22.1259 5.07033 20.5555 3.5 18.6259 3.5H4.66669C2.73702 3.5 1.16669 5.07033 1.16669 7V21C1.16669 22.9297 2.73702 24.5 4.66669 24.5H22.9764C23.0207 24.5 23.065 24.4977 23.107 24.493ZM22.1259 20.9592V9.793H23.3334C23.9774 9.793 24.5 10.3168 24.5 10.9597V21C24.5 21.644 23.9774 22.1667 23.3334 22.1667C22.6684 22.1667 22.1259 21.6242 22.1259 20.9592ZM3.50002 7C3.50002 6.356 4.02269 5.83333 4.66669 5.83333H18.6247C19.2687 5.83333 19.7914 6.35717 19.7914 7V20.9592C19.7914 21.3827 19.8672 21.7898 20.0037 22.1667H4.66669C4.02269 22.1667 3.50002 21.644 3.50002 21V7ZM6.42374 9.95512H16.8456C17.4826 9.95512 17.9971 9.43245 17.9971 8.78845C17.9971 8.14445 17.4826 7.62179 16.8456 7.62179H6.42374C5.78674 7.62179 5.27224 8.14445 5.27224 8.78845C5.27224 9.43245 5.78674 9.95512 6.42374 9.95512ZM16.8459 16.9668H14.6012C13.9642 16.9668 13.4497 16.4453 13.4497 15.8001C13.4497 15.155 13.9642 14.6335 14.6012 14.6335H16.8459C17.4829 14.6335 17.9974 15.155 17.9974 15.8001C17.9974 16.4453 17.4829 16.9668 16.8459 16.9668ZM14.6012 13.5531H16.8459C17.4829 13.5531 17.9974 13.0304 17.9974 12.3864C17.9974 11.7424 17.4829 11.2198 16.8459 11.2198H14.6012C13.9642 11.2198 13.4497 11.7424 13.4497 12.3864C13.4497 13.0304 13.9642 13.5531 14.6012 13.5531ZM16.8459 20.3782H14.6012C13.9642 20.3782 13.4497 19.8567 13.4497 19.2115C13.4497 18.5664 13.9642 18.0449 14.6012 18.0449H16.8459C17.4829 18.0449 17.9974 18.5664 17.9974 19.2115C17.9974 19.8567 17.4829 20.3782 16.8459 20.3782ZM6.42374 11.2198H10.9142C11.5512 11.2198 12.0657 11.7424 12.0657 12.3864V19.2103C12.0657 19.8554 11.5512 20.3769 10.9142 20.3769H6.42374C5.78674 20.3769 5.27224 19.8554 5.27224 19.2103V12.3864C5.27224 11.7424 5.78674 11.2198 6.42374 11.2198Z"
              fill="var(--foreground-color)"
            ></path>
          </svg>
        </div>
      </a>
      <div
        style="
          display: inline-block;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          margin-right: 0px;
        "
        class="d6f03855"
      >
        <svg
          viewBox="0 0 28 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M14.0141 2.33203H14.2008C20.6408 2.43703 25.7625 7.74536 25.6691 14.197C25.6108 17.3704 24.2808 20.252 22.1691 22.317C21.9475 22.5504 21.7025 22.7604 21.4575 22.9704C20.8275 23.507 20.1275 23.9737 19.3808 24.347C17.7708 25.1987 15.9508 25.6654 14.0025 25.6654C12.0658 25.6654 10.2575 25.1987 8.65915 24.3704V24.3587C7.87748 23.9737 7.14248 23.472 6.47748 22.912C6.25581 22.7254 6.04581 22.5387 5.83581 22.3287C3.61915 20.182 2.27748 17.1487 2.33581 13.8004C2.42915 7.4187 7.64415 2.33203 14.0141 2.33203ZM8.23915 21.3254C9.86081 22.632 11.8908 23.332 14.0025 23.332C16.1375 23.332 18.1208 22.6437 19.7541 21.337C19.5441 20.4737 18.7508 19.832 17.8175 19.832H10.1758C9.25415 19.832 8.47248 20.4737 8.23915 21.3254ZM10.1758 17.4987H17.8175C19.3691 17.4987 20.7341 18.3154 21.4925 19.5404C22.6475 17.9887 23.2891 16.1104 23.3358 14.1504C23.3708 11.6537 22.4375 9.29703 20.7108 7.50036C18.9725 5.71536 16.6508 4.70036 14.1541 4.66536H14.0141C8.93915 4.66536 4.73915 8.7837 4.66915 13.8354C4.63415 15.9354 5.28748 17.9187 6.48915 19.552C7.25915 18.3154 8.62415 17.4987 10.1758 17.4987ZM9.35563 11.6665C9.35563 9.12084 11.4766 6.99984 14.0223 6.99984C16.6158 6.99984 18.689 9.12084 18.689 11.6665C18.689 14.2122 16.568 16.3332 14.0223 16.3332C11.43 16.3332 9.35563 14.2122 9.35563 11.6665ZM11.689 11.6665C11.689 12.9533 12.7355 13.9998 14.0223 13.9998C15.287 13.9998 16.3556 12.9312 16.3556 11.6665C16.3556 10.3797 15.3091 9.33317 14.0223 9.33317C12.7576 9.33317 11.689 10.4018 11.689 11.6665Z"
            fill="var(--primary-color)"
          ></path>
        </svg>
      </div>
    </div>
  </div>

  <div class="f76cecd2">
    <div class="df7b6a0a">
      <ul>
        <% if (locals.route == "/") { %>
          <li id="navTopNews" class="ed5652bb">
          <% }else{ %>
            <li class="">
            <%}%>
          <a style="padding: 0px" title="टॉप न्यूज़" href="/"
            ><picture class="c62bd949" style="visibility: visible"
              ><source
                media="(max-width: 768px)"
                type="image/webp"
                srcset="
                  https://www.bhaskar.com/assets/images/top-news.a4108012.svg
                " />
              <source
                media="(min-width: 768px)"
                type="image/webp"
                srcset="
                  https://www.bhaskar.com/assets/images/top-news.a4108012.svg
                " />
              <img
                width="64"
                height="64"
                src="https://www.bhaskar.com/assets/images/top-news.a4108012.svg"
                alt="टॉप न्यूज़|Top News"
                loading="lazy"
                style="width: 20px; margin-right: 10px"
                class="f97587ba" /></picture
            ><span>टॉप न्यूज़</span></a
          >
        </li>



        <li id="navResults" class="">
          <a style="padding: 0px" title="रिजल्ट्स" href="#"
            ><picture class="c62bd949" style="visibility: visible"
              ><source
                media="(max-width: 768px)"
                type="image/webp"
                srcset="
                  https://images.bhaskarassets.com/web2images/521/2020/03/28/icsports1_1585397795.png
                " />
              <source
                media="(min-width: 768px)"
                type="image/webp"
                srcset="
                  https://images.bhaskarassets.com/web2images/521/2020/03/28/icsports1_1585397795.png
                " />
              <img
                width="64"
                height="64"
                src="https://images.bhaskarassets.com/web2images/521/2020/03/28/icsports1_1585397795.png"
                alt="रिजल्ट"
                loading="lazy"
                style="width: 20px; margin-right: 10px"
                class="f97587ba" /></picture
            ><span>रिजल्ट</span></a
          >
        </li>

        


        <!-- <li class="">
          <a style="padding: 0px" title="एडमिट कार्ड्स" href="/"
            ><picture class="c62bd949" style="visibility: visible"
              ><source
                media="(max-width: 768px)"
                type="image/webp"
                srcset="
                  https://images.bhaskarassets.com/web2images/521/2020/10/27/magazine1_1603813527.png
                " />
              <source
                media="(min-width: 768px)"
                type="image/webp"
                srcset="
                  https://images.bhaskarassets.com/web2images/521/2020/10/27/magazine1_1603813527.png
                " />
              <img
                width="64"
                height="64"
                src="https://images.bhaskarassets.com/web2images/521/2020/10/27/magazine1_1603813527.png"
                alt="एडमिट कार्ड"
                loading="lazy"
                style="width: 20px; margin-right: 10px"
                class="f97587ba" /></picture
            ><span>एडमिट कार्ड</span></a
          >
        </li> -->


        <% if (locals.route == "/newspapers") { %>
          <li class="ed5652bb">
          <% }else{ %>
            <li class="">
            <%}%>
          <a style="padding: 0px" title="ई-पेपर" href="/newspapers"
            ><picture class="c62bd949" style="visibility: visible"
              ><source
                media="(max-width: 768px)"
                type="image/webp"
                srcset="
                  https://images.bhaskarassets.com/webp/thumb/64x0/web2images/521/2021/11/16/ipl15989555741599046844115991331121634106872_1637060692.png
                " />
              <source
                media="(min-width: 768px)"
                type="image/webp"
                srcset="
                  https://images.bhaskarassets.com/webp/thumb/64x0/web2images/521/2021/11/16/ipl15989555741599046844115991331121634106872_1637060692.png
                " />
              <img
                width="64"
                height="64"
                src="https://images.bhaskarassets.com/web2images/521/2021/11/16/ipl15989555741599046844115991331121634106872_1637060692.png"
                alt="ई-पेपर"
                loading="lazy"
                style="width: 20px; margin-right: 10px"
                class="f97587ba" /></picture
            ><span>ई-पेपर</span></a
          >
        </li>

        <% if (locals.route == "/services") { %>
          <li class="ed5652bb">
          <% }else{ %>
            <li class="">
            <%}%>
          <a style="padding: 0px" title="Services" href="/services"
            ><picture class="c62bd949" style="visibility: visible"
              ><source
                media="(max-width: 768px)"
                type="image/webp"
                srcset="
                  https://images.bhaskarassets.com/webp/thumb/64x0/web2images/521/2021/11/16/ipl15989555741599046844115991331121634106872_1637060692.png
                " />
              <source
                media="(min-width: 768px)"
                type="image/webp"
                srcset="
                  https://images.bhaskarassets.com/webp/thumb/64x0/web2images/521/2021/11/16/ipl15989555741599046844115991331121634106872_1637060692.png
                " />
              <img
                width="64"
                height="64"
                src="https://images.bhaskarassets.com/web2images/521/2021/11/16/ipl15989555741599046844115991331121634106872_1637060692.png"
                alt="/services"
                loading="lazy"
                style="width: 20px; margin-right: 10px"
                class="f97587ba" /></picture
            ><span>Services</span></a
          >
        </li>

        <% if (locals.route == "/movies") { %>
          <li class="ed5652bb">
          <% }else{ %>
            <li class="">
            <%}%>
          <a style="padding: 0px" title="movies" href="/movies"
            ><picture class="c62bd949" style="visibility: visible"
              ><source
                media="(max-width: 768px)"
                type="image/webp"
                srcset="
                  https://images.bhaskarassets.com/webp/thumb/64x0/web2images/521/2021/11/16/ipl15989555741599046844115991331121634106872_1637060692.png
                " />
              <source
                media="(min-width: 768px)"
                type="image/webp"
                srcset="
                  https://images.bhaskarassets.com/webp/thumb/64x0/web2images/521/2021/11/16/ipl15989555741599046844115991331121634106872_1637060692.png
                " />
              <img
                width="64"
                height="64"
                src="https://images.bhaskarassets.com/web2images/521/2021/11/16/ipl15989555741599046844115991331121634106872_1637060692.png"
                alt="movies"
                loading="lazy"
                style="width: 20px; margin-right: 10px"
                class="f97587ba" /></picture
            ><span>Movies</span></a
          >
        </li>
        
      </ul>
    </div>
  </div>

</div>


